<footer>
    <ul>
        <li>&copy; Jeff Porter 2002–{{ config.extra.copyright | replace(from="{year}", to=now() | date(format="%Y")) }}</li>
    </ul>

    <ul class="social">
        <li><a href="https://mastodon.social/@wordius"><img class="naked" src="/img/brand-mastodon.png" width="28" height="28"></a></li>
        <li>
            <a href="https://bsky.app/profile/wordius.com"><img class="naked" src="/img/brand-bluesky.png" width="28" height="28"></a>
        </li>
        <li>
            <a href="https://x.com/wordius"><img class="naked" src="/img/x.png" width="28" height="28"></a>
        </li>
    </ul>

</footer>