@import "fonts.css";
/*@import "mcss.css";*/

/* Defaults */

:root {
    --font-family-sans: Fontin_Sans_49, alegreyasans, robotoslab, Helvetica, -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
	--font-family-serif: "IM Fell", alegreya, Georgia, robotoslab, serif;
	font-size: 100%;

	--page-padding-inline: calc((100vi - min(var(--line-length), 80vi)) / 2);

    --gutter: clamp(1rem, 2.5vmax, 1.5rem);
    --line-length: 70ch;
	--max-width: 768px;
    --font-size: clamp(95%, 80% + 0.5vi, 150%);
    --leading: 1.475;
    --padding-inline: 1rem 2rem;
    --padding-block: 1rem 2rem;
    --pt-double-canon: 4.666rem;
    --pt-canon: 3.999rem;
    --pt-double-great-primer: 2.999rem;
    --pt-double-pica: 2rem;
    --pt-paragon: 1.666rem;
    --pt-english: 1.166rem;
    --pt-pica: 1rem;
    --pt-small-pica: 0.916rem;
    --pt-long-primer: 0.833rem;
    --pt-bourgeois: 0.75rem;
    font-size: var(--font-size);
    line-height: var(--leading);
    color-scheme: light;
    accent-color: crimson;
	color:#333;
}

/* Theme colors */

:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-70: #555555;
	--color-gray-90: #333;

	--background-color: #f8e9d9; /*#f2d5b8;*/

	--text-color: var(--color-gray-90);
	--text-color-light: var(--color-gray-70);
	--text-color-link: #7d610d; /* racing #004225; blue #082840;*/
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		--background-color: #15202b;
	}
}
@layer elements {
	  :where(input:not([type="radio"], [type="checkbox"], [type="file"]), textarea, select) {
    border: 1px inset;
    border-radius: 0;
    /* TODO: test this */
    background: color-mix(in oklch, canvasText 5%, transparent);
  }
}

* {
	margin: 0 auto;
}
html {
	font-size: 1rem;
}
body {
	padding-top: 0;
}
header, main, footer {
	max-width: var(--max-width);
	padding: 3rem 2rem;
}
h1 {
	font-size: var(--pt-double-great-primer);
}

/* HEADER */

.banner {
	font-family: var(--font-family-serif);
	font-size: var(--pt-canon);
	text-decoration: none;
	color:#C0C0C0;
	&:hover {
		color:#333;
	}
	/*color:var(--text-color-link);*/
}
nav ul {
		padding-left: 0;
		padding-top: 3rem;
}
nav ul li {
	display: inline-block;
	padding-right: .5rem;
	list-style: none;
}
nav a {
	font-family: var(--font-family-serif);
	text-decoration: none;
	padding: 0;
	border: none;
	color: #333;
	&:hover {
		text-decoration: underline;
		text-decoration-thickness: 3px;
		text-decoration-style:wavy;
		text-decoration-color: #555555;
		text-underline-offset: 0.6ex;
	}
}
	
/* MAIN */
.title {
	padding-bottom: 3rem;
}
.postlist-header {
	padding-bottom: 3rem;
}
.postlist-nav {
	font-family: var(--font-family-sans);
	font-size: var(--pt-long-primer);
}
.postlist-title a {
	color: #333;
	text-decoration: none;
}
.post-header {
	padding-bottom: 3rem;
}
.post-nav {
	padding-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-serif);
}
p {
	font-family: var(--font-family-sans);
	font-size: var(--pt-pica);
	line-height: var(--leading);
	text-indent: 0;
	margin-bottom: 1rem;
}
p:last-of-type {
	margin-bottom: 0;
}
p a {
	text-decoration-style:wavy;
	text-underline-offset: .3ex;
}

/* POSTLIST */

.postlist-item {
	margin-bottom: 2rem;
}
h2.postlist-title {
	margin-top: .5rem;
}
.postlist-date, .post-date {
	font-family: va(--font-family-sans);
	font-size: var(--pt-long-primer);
	letter-spacing: 0.3ch;
	text-transform: uppercase;
	color: crimson;
}
/* POST HEADER */

.post-header h1 {
	margin-top: 0;
}

/* FOOTER */

footer {
	text-align: center;
}
footer p {
	font-family: var(--font-family-sans);
	font-size: var(--pt-small-pica);
}
footer ul {
	display: inline-block;
	font-family: var(--font-family-sans);
	margin-block-start: 0;
	padding-inline-start: 0;
}
footer ul li {
	display: inline-block;
	margin-block-start: 1rem;
	margin-right: 1rem;
}

ul.social li {
	display: inline-block;
	border-bottom: none;
}


/* Global stylesheet

* {
	box-sizing: border-box;
}

/* Prevent font size inflation

html {
	font-size: 18px;
	overflow-y: scroll;
}

html {
		--font-size-sm: 0.75rem;   
		--font-size-smmd: 0.875rem;   
		--font-size-base: 1rem;    
		--font-size-md: 1.25rem;   
		--font-size-lg: 1.5rem;    
		--font-size-xl: 1.75rem;   
		--font-size-xxl: 2rem;     
		--font-size-xxxl: 2.25rem; 
}

html, body {
	padding: 0 0.5rem;
	margin: 0.5rem auto;
	font-family: var(--font-family-serif);
	background-color: var(--background-color);
}

body {
	max-width: 40rem;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ 
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

a {
	color: var(--text-color-link);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p:last-child {
	margin-bottom: 0;
}
.larger {
	font-size: var(--font-size-md);
	line-height: 1.5;
}
main {
	padding: .5rem;
}

/* Header

header {
	display: flex;
	flex-direction: column;
	gap: 1em 2rem;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 3rem;
}
header:after {
	content: "";
	display: table;
	clear: both;
}
.home-link {
	font-family: Helvetica, sans-serif;
	font-size: 1em; 
	font-weight: 700;
	display: flex;
	align-items: left;
}

	.home-link img {
		margin: 0;
	}
.home-base {
	vertical-align: 0.25rem;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

.header-primary {
	order: 1;
	flex-grow: 1;
	align-items: center;
	text-align: center;
}

.header-secondary {
	order: 2;
	flex-grow: 4;
	text-align: right;
}

/* Nav 

.nav {
	font-family: var(--font-family-text);
	font-size: var(--font-size-smmd);
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0;
	margin-top: 2rem;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}
.post-nav {
	margin-top: 2rem;
}
.post-nav-dir {
	font-weight: 700;
}

.page_lead {
	margin: 0 3rem 3rem 3rem;
	font-size: var(--font-size-xl);
	color: var(--color-gray-70);
	text-align: center;
	line-height: 1.3;
}

/* Footer

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer ul {
	display: inline-block;
	font-family: var(--font-family-sans);
	margin-block-start: 0;
	padding-inline-start: 0;
}
footer ul li {
	display: inline-block;
	margin-block-start: 1rem;
	margin-right: 1rem;
}

ul.social li {
	display: inline-block;
	border-bottom: none;
}

footer p {
	font-size: var(--font-size-sm);
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 1rem;
	margin-top: 0;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

/* Table

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

/* Code 

pre,
code {
	font-family: var(--font-family-monospace);
	padding: .5rem;
	text-wrap: wrap;
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375;
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* IMAGES 

.img-container {
	margin: 0 -1rem;
	text-align: center;
	line-height: 0;
}
.img-container > img {
	max-width: 100%;
	height: auto;
}
img.naked {
	margin-top: 0.75rem;
}

/*  IMAGES – pages 
img {
	max-width: 100%;
	height: auto;
	margin-top: 2rem;
}
figure {
	margin: 0 0 2rem 0;
}
figcaption {
	font-family: var(--font-family-text);
	font-size: var(--font-size-smmd);
	margin: 0 0 2rem;
	text-align: left;
	line-height: 1.5;
}
figcaption.page-img {
	line-height: 1.65;
}
.intro-box {
	font-weight: 600;
	margin-top: 1rem;
	padding: 1rem;
	border: 1px solid var(--color-gray-50);
}

/* Postlist: Headings

h1.post-title, h1.title {
	font-size: var(--font-size-xxxl);
	font-family: var(--font-family-sans);
	font-weight: 700;
	margin-top: 0;
}

h1.title {
	font-weight: 700;
	color: #990000;
}

h2 {
	font-family: var(--font-family-sans);
	font-size: var(--font-size-md);
	font-weight: 700;
	margin-bottom: 0.5rem;
}
h2.featured {
	font-family: var(--font-family-serif);
	font-size: var(--font-size-xl);
	font-weight: 900;
	letter-spacing: 1px;
}
h2.post-desc {
	font-family: var(--font-family-sans);
	font-size: var(--font-size-md);
	font-weight: 400;
	font-style: italic;
}
h2.postlist-title {
	margin: 0.5rem 0;
	color: var(--text-color-light);
}
.page-intro {
	font-family: var(--font-family-sans);
	color: var(--color-gray-90); 
	padding-bottom: 2rem;
	margin-bottom: 1rem;
	border-bottom: 2px solid var(--color-gray-50);
}
h1.post-title {
	line-height: 1.2;
}
h2.post-desc {
	line-height: 1.4; 
}
h3 {
	font-family: var(--font-family-sans);
	font-size: var(--font-size-md);
	font-weight: 100;
	margin-block-end: .5rem;
}

/* Postlist: content

article {
	margin-bottom: 1rem;
}
article p, article ul, article ol {
	line-height: 1.65;
	color: var(--color-gray-90);
}

.postlist {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.postlist-title a {
	color: #990000;
}
.postlist-item {
	display: block;
	align-items: baseline;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--color-gray-50);
}
.postlist-head {
	margin: 0;
}
.postlist-date {
	font-size: 0.75em; 
	color: var(--color-gray-70);
}
.postlist-date {
	font-weight: 700;
	word-spacing: -0.5px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.postlist-link {
	font-family: var(--font-family-sans);
	font-size: var(--font-size-lg); 
	font-weight: 600;
	flex-basis: calc(100% - 1.5rem);
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-description {
	line-height: 1.55;
	margin: 0;
}
.post-date {
	font-size: var(--font-size-sm);
	word-spacing: -0.5px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* Aside

p {
	margin-top: 0;
}
p.larger {
	font-size: var(--font-size-base);
}
.post-nav p {
	line-height: 1.55;
}

#content_aside {
	font-size: var(--font-size-smmd);
	line-height: 1.5;
	color: var(--color-gray-70);
}

/* Tags

.post-tags {
	margin-bottom: 1.5rem;
}
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
}
.postlist-item > .post-tag {
	align-self: center;
}
blockquote {
	font-family: var(--font-family-serif);
	font-style: italic;
}
blockquote p {
	color: var(--color-gray-70);
}
blockquote p:last-child {
	font-family: var(--font-family-sans);
	font-size: var(--font-size-smmd);
	font-style: normal;
	color: var(--color-gray-90);
}

/* Tags list 

.post-metadata time {
	margin-right: 1em;
}

/* Post content

.post-content {
	margin-top: 2rem;
}

/* COFFEE 

.coffee {
	margin-top: 2rem;
	margin-bottom: 1rem;
	padding: 1rem;
	border-left: 3px solid #7d610d;
	border-top: 3px solid #7d610d;
	border-bottom: 3px solid #7d610d;
}
.coffee-txt {
	line-height: 1.5;
	color: #555555;
}

/* Direct Links / Markdown Headers 

.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}
*/
@media (max-width: 768px) {
	body {
		font-size: 1.2rem;
	}
	p {
		font-size: 1.4rem;	
	}
}