<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {{ config.title }}
  </title>

  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

  <meta name="description" content="{{ config.description }}">
  
  <link rel="alternate" href="/rss.xml" type="application/rss+xml">

  <link rel="stylesheet" href="/style.css">

  <!-- ANALYTICS: USERMAVEN-->
  <script type="text/javascript">     
    (function () {
        window.usermaven = window.usermaven || (function () { (window.usermavenQ = window.usermavenQ || []).push(arguments); })
        var t = document.createElement('script'),
            s = document.getElementsByTagName('script')[0];
        t.defer = true;
        t.id = 'um-tracker';
        t.setAttribute('data-tracking-host', "https://events.usermaven.com")
        t.setAttribute('data-key', 'UMAsZugFkL');
        t.setAttribute('data-autocapture', 'true'); 
        t.setAttribute('data-privacy-policy', 'strict'); 
        t.src = 'https://t.usermaven.com/lib.js';
        s.parentNode.insertBefore(t, s);
    })();
  </script>
</head>

<body>

  <header>
      <a class="banner" href="/" class="home-link">publishink<span class="banner-item">.</span></a>

      <nav role="navigation">
        <ul role="list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/notes">Blog</a></li>
          <li class="nav-item"><a href="/about">About</a></li>
          <li class="nav-item"><a href="/contact">Contact</a></li>
        </ul>
      </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

	{% include "partials/footer.html" %}

</body>

</html>