<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {{ config.title }}
  </title>

  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

  <meta name="description" content="{{ config.description }}">
  
  <link rel="alternate" href="/rss.xml" type="application/rss+xml">

  <link rel="stylesheet" href="/style.css">
  <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">-->

</head>

<body>

  <header>
      <a class="banner" href="/" class="home-link">publishink.</a>

      <nav role="navigation">
        <ul role="list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/notes">Notes</a></li>
          <li class="nav-item"><a href="/about">About</a></li>
          <li class="nav-item"><a href="/contact">Contact</a></li>
        </ul>
      </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

	{% include "partials/footer.html" %}

</body>

</html>