{% extends "base.html" %}

{% block content %}
            <div class="page_lead">
                <p><strong>wreading, writing, writhmetic…</strong></p>
                <p>A former journalist and current editor of <em>DogFriendly</em>, I now mostly tinker around on the web and work as a gardener.</p>
                <p>Email me at <a href='&#109;&#97;&#105;lto&#58;&#105;n&#37;66o&#64;&#37;7&#48;&#37;7&#53;&#98;lis%68i&#110;%6B&#46;co&#46;u%&#54;B'>i&#110;fo&#64;&#112;u&#98;li&#115;hin&#107;&#46;co&#46;uk</a> or give me a call on <a href="tel:447914400295">07914 400295.</a></p>
                <p>For more regular updates, go to my <a href="https://wordius.com">journal</a></p>
            </div>        

            <!--<div>
                <p><a href="{{ get_url(path='@/blog/_index.md') }}">Posts</a>.</p>
            </div>-->

{% endblock content %}