{% extends "base.html" %}

{% block content %}
                <p><strong>Journalist and editor…</strong></p>
                <p>… I am also known for tinkering around on the web and working as a gardener.</p>
                <p>Email me at <a href='&#109;&#97;&#105;lto&#58;&#105;n&#37;66o&#64;&#37;7&#48;&#37;7&#53;&#98;lis%68i&#110;%6B&#46;co&#46;u%&#54;B'>i&#110;fo&#64;&#112;u&#98;li&#115;hin&#107;&#46;co&#46;uk</a> or give me a call on <a href="tel:447914400295">07914 400295.</a></p>
                <p>For updates, see the <a href="/notes">notes</a> section</p>
{% endblock content %}